@* Shared/NavMenu.razor *@
@using Microsoft.AspNetCore.Components

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Expenses Tracker</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                        <span class="bi bi-speedometer2"></span> Dashboard
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="transactions">
                        <span class="bi bi-list-ul"></span> Transactions
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="debt">
                        <span class="bi bi-credit-card"></span> Debt
                    </NavLink>
                </li>
            </ul>
            <div class="d-flex gap-2">
                <a href="/">
                    <button class="btn btn-outline-dark" type="button">Logout</button> 
                </a>
            </div>
        </div>
    </div>
</nav>

